<div class="main">
    <form ngNativeValidate >
        <div class="body" id="izq">
            <div id="izq-sup">
                <h1>{{titulo | uppercase}}</h1>
                <div class="form-group">
                    <label for="clienteLabel">Cliente*</label>
                    <select class="form-select" name="cliente" id="cliente" placeholder="Seleccione un cliente" required [(ngModel)]="cuadroCliente" #cliente="ngModel">
                        <option selected>Seleccione un cliente</option>
                        <option *ngFor="let cliente of clientes" value="{{cliente.nombre}}">{{cliente.nombre}}</option>
                    </select>
                </div>
                <input type="date" name="fecha" id="fecha" required [(ngModel)]="cuadroFecha" #fecha="ngModel">
                <input  type="submit" class="btn btn-primary" id="btnAgregar" value="Agregar Productos" (click)="agregarProductos()">
            </div>
            <br>
            <div id="izq-inf">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let productoOrden of productosOrden">
                        {{productoOrden.idProducto}} {{productoOrden.nombre}} {{productoOrden.cantidad}} {{productoOrden.precio}} {{productoOrden.peso}}
                        <button>a</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <div class="body" id="der">
        <h1>Productos</h1>
        <div id="der2">
            <div *ngFor="let producto of productos" class="div-producto">
                <img src="{{producto.imagenUrl}}" alt="{{producto.idProducto}}">
                <input class="form-check-input" type="checkbox" id="{{producto.idProducto}}" autocomplete="off" (change)="agregarQuitarProducto(producto.id)">
                <label class="form-chack-label" id="labelProducto">Seleccionar</label>
            </div>
        </div>
    </div>
</div>