<div class="main">
    <div class="body" id="izq">
        <h1>Producto Nuevo</h1>
        <form>
            <div class="form-group">
                <label for="idLabel">ID Producto</label>
                <input class="form-control" type="text" placeholder="id del producto">
            </div>
            <div class="form-group">
                <label for="nombreLabel">Nombre</label>
                <input class="form-control" type="text" placeholder="nombre del producto">
            </div>
            <div class="form-group">
                <label for="cantidadLabel">Cantidad por Paquete</label>
                <input class="form-control" type="number" placeholder="opcional">
            </div>
            <div class="form-group">
                <label for="precioLabel">Precio</label>
                <input class="form-control" type="number" placeholder="Precio del producto">
            </div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </form>
    </div>

    <div class="body" id="der">
        <h1>Productos</h1>
        <div id="der2">
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
            <div class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
            </div>
        </div>
        

    </div>
</div>