<div class="main">
    <!--<form novalidate [formGroup] = "formulario">-->
        <div class="body" id="izq">
            <h1>{{titulo | uppercase}}</h1>
            <div class="form-group">
                <label for="idLabel">ID Producto*</label>
                <input class="form-control" type="text" name="id" id="id" placeholder="id del producto" [(ngModel)]="cuadroId" required>
            </div>
            <div class="form-group">
                <label for="nombreLabel">Nombre*</label>
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="nombre del producto" [(ngModel)]="cuadroNombre" required>
            </div>
            <div class="form-group">
                <label for="cantidadLabel">Cantidad por Paquete</label>
                <input class="form-control" type="number" name="cantidad" id="cantidad" placeholder="opcional" [(ngModel)]="cuadroCantidad">
            </div>
            <div class="form-group">
                <label for="precioLabel">Precio*</label>
                <input class="form-control" type="number" name="precio" id="precio" placeholder="Precio del producto" [(ngModel)]="cuadroPrecio" required>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Imagen del Producto*</label>
                <input class="form-control" type="file" accept=".png, .jpg" name="imagen" id="imagen" (change)="agregarImagenProducto($event)" [(ngModel)]="cuadroImagen">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" name="progreso" id="progreso" role="progressbar"
                    [style.width]="(uploadPercent | async) + '%'">
                </div>
            </div>
            <input type="text" [value]="urlImagen | async" name="txtUrl" id="txtUrl" hidden>
            <button  type="submit" class="btn btn-primary" id="btnAgregar" disabled="true" (click)="guardarProducto()">Agregar Producto</button>
            <!--<ng-template #btnDisabled>
                <button type="submit" disabled="true" class="btn btn-secondary">Agregar Producto</button>
            </ng-template>-->
        </div>
    <!--</form>-->

    <div class="body" id="der">
        <h1>Productos</h1>
        <div id="der2">
            <div *ngFor="let producto of productos" class="div-producto">
                <img src="{{producto.imagenUrl}}" alt="{{producto.idProducto}}">
                <!--<i class="fas fa-trash"></i>-->
                <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto.id, producto.imagenUrl)">Eliminar</button>
                <button type="button" class="btn btn-warning" (click)="agregarEditarProducto(producto)">Editar</button>
                <!--<button type="radio" class="btn btn-outline-warning active" data-bs-toggle="button" autocomplete="off" (click)="agregarEditarProducto(producto)">Editar</button>-->
            </div>
        </div>
    </div>
</div>