<script src="https://kit.fontawesome.com/f3a4db3942.js" crossorigin="anonymous"></script>

<div class="main">
    <div class="body" id="izq">
        <h1>Producto Nuevo</h1>
        <form>
            <div class="form-group">
                <label for="idLabel">ID Producto</label>
                <input class="form-control" type="text" name="id" id="id" placeholder="id del producto" [(ngModel)]="cuadroId">
            </div>
            <div class="form-group">
                <label for="nombreLabel">Nombre</label>
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="nombre del producto" [(ngModel)]="cuadroNombre">
            </div>
            <div class="form-group">
                <label for="cantidadLabel">Cantidad por Paquete</label>
                <input class="form-control" type="number" name="cantidad" id="cantidad" placeholder="opcional" [(ngModel)]="cuadroCantidad">
            </div>
            <div class="form-group">
                <label for="precioLabel">Precio</label>
                <input class="form-control" type="number" name="precio" id="precio" placeholder="Precio del producto" [(ngModel)]="cuadroPrecio">
            </div>
            <button type="submit" class="btn btn-primary" (click)="agregarProducto()">Agregar Producto</button>
        </form>
    </div>

    <div class="body" id="der">
        <h1>Productos</h1>
        <div id="der2">
            <div *ngFor="let producto of productos" class="div-producto">
                <!--<img src="/carne.jpg" alt="imagen carne">-->
                {{producto.id}} {{producto.nombre}} {{producto.cantidad}} {{producto.precio}}
                <i class="fa-solid fa-trash-can"></i>
            </div>
        </div>
    </div>
</div>