<!-- Blue with white text -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Hacer Orden</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ordenes">Ordenes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/clientes">Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/catalogo">Catalogo</a>
    </li>
    <li id="chatbot" class="nav-item">
      <a class="nav-link" href="127.0.0.1:8080/polls">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyectoangularfacturacion.appspot.com/o/chatbot%2064px.png?alt=media&token=9f1ec377-4569-472b-9437-242b94ef25d7" alt="">
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>